<header>
    <img
        src="assets/img/thiago.jpg"
        alt="Thiago Lima - Foto de Perfil"
        width="130px"
        height="130px"
        loading="eager"
    >
    <h1>Thiago Lima</h1>
</header>

<aside>
    <div class="container">
        <p>Desenvolvedor .NET | ASP.NET CORE | C# | SQL</p>
        <p>Pres. Prudente - São Paulo - Brasil</p>
        <p>
            Profissional com mais de dois anos de experiência em criação de soluções eficientes e alinhadas às necessidades do usuário. Com sólida base em C# e ASP.NET, busco uma oportunidade para contribuir em equipes orientadas à inovação e excelência, entregando resultados que impulsionem o sucesso dos projetos e a satisfação dos clientes.
        </p>

        <nav>
            <ul>
                <li>
                    <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
                        Download CV
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/thiagofslima/" target="_blank" class="btn btn-secondary">
                        LinkedIn
                    </a>
                </li>
            </ul>
        </nav>

        <section>
            <figure>
                <img
                    src="/assets/icons/whatsapp.svg"
                    alt="Ícone para contato do WhatsApp"
                    width="22px"
                    height="24px"
                >

                <figcaption>
                    <a
                        href="https://api.whatsapp.com/send?phone=5518996382997"
                        target="_blank">
                        <strong>Envie uma mensagem para:</strong>
                        <p>WhatsApp: (11) 99638-2997</p>
                    </a>
                </figcaption>
            </figure>

            <figure>
                <img
                    src="/assets/icons/mail.svg"
                    alt="Ícone para contato do e-mail"
                    width="22px"
                    height="24px"
                >

                <figcaption>
                    <a
                        href="mailto:thiagofslima@gmail.com"
                        target="_blank">
                        <strong>Envie um e-mail para:</strong>
                        <p>thiagofslima&#64;gmail.com</p>
                    </a>
                </figcaption>
            </figure>
        </section>
    </div>
</aside>