:root {
    --primary: #2FBF71;
    --primary-010: #21804D;

    --secondary: #06628A;
    --secondary-010: #06374E;

    --white: #FFF;

    --black: #10101A;
    --black-010: #2A2A30;

    --grey: #9B9BA0;
}